.content-introduction {
  padding-top: 70px;
  p {
    img {
      width: 100%;
    }
  }
  h4 {
    text-align: center;
  }
  .gradient-list {
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
  }
}
.gradient-list > {
  li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    margin-top: 1rem;
    min-height: 3rem;
    text-align: left;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
      0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);

    &::before,
    &::after {
      background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: "";
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }
  }
}
